---
layout: base.njk
title: weapon-types
pageClass: weapon-build
---

<div class="container small mob-center">

    <h1 class="page-content_title center-text">{{ title }}</h1>
    
    <div class="listed-item">
    
        <div class="elements w400 halved">
            <p class="listed-title">XM4 Zombie Build</p>
            <div class="items">
                {% for item in xm4zom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">XM4 MP Build</p>
            <div class="items">
                {% for item in xm4mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Ames-85 Zombie Build</p>
            <div class="items">
                {% for item in ames85zom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Ames-85 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR3 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR3 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR4 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR4 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR5 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR5 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR6 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">AR6 MP Build</p>
            <div class="items">
                {% for item in ames85mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>