---
layout: base.njk
title: weapon-types
pageClass: weapon-build
---

<div class="container small mob-center">

    <h1 class="page-content_title center-text">{{ title }}</h1>
    
    <div class="listed-item">
    
        <div class="elements w400 halved">
            <p class="listed-title">C9 Zombie Build</p>
            <div class="items">
                {% for item in c9zom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">C9 MP Build</p>
            <div class="items">
                {% for item in c9mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">KSV Zombie Build</p>
            <div class="items">
                {% for item in ksvzom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">KSV MP Build</p>
            <div class="items">
                {% for item in ksvmp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Tanto .22 Zombie Build</p>
            <div class="items">
                {% for item in tanto22zom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Tanto .22 MP Build</p>
            <div class="items">
                {% for item in tanto22mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">PP-919 Zombie Build</p>
            <div class="items">
                {% for item in pp919zom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">PP-919 MP Build</p>
            <div class="items">
                {% for item in pp919mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Jackal PDW Zombie Build</p>
            <div class="items">
                {% for item in jackalpdwzom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Jackal PDW MP Build</p>
            <div class="items">
                {% for item in jackalpdwmp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Kompakt 92 Zombie Build</p>
            <div class="items">
                {% for item in kompakt92zom %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="elements w400 halved">
            <p class="listed-title">Kompakt 92 MP Build</p>
            <div class="items">
                {% for item in kompakt92mp %}
                    <div class="item">
                        <p class="item-name" >{{ item.attachment }}</p>
                        <p>{{ item.item }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>