@use '../abstracts/mixins' as r;

// .banner2{
//     width: 100vw;
//     height: 200px;
//     // margin: 0 auto;
//     margin-left: calc(-50vw + 50%); 
//     // transform: translateX(-50px);
//     background-color: orange;
//     overflow: hidden;
// }

.page-banner{
    // display: flex;
    // justify-content: center;
    width: 100vw;
    height: 40vh;
    // outline: 2px solid red;
    // padding-block: 10rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
        ), url("../../assets/images/hero.webp");
    background-position: center;
    background-size: cover;

    // &::before{
    //     content: "";
    //     width: 350px;
    //     height: 1000px;
    //     background-color: rgba(orange, 0.8);
    //     position: absolute;
    //     // top: 0;
    //     top: -200px;
    //     left: 200px;
    //     transform: rotate(-45deg);
    //     z-index: -1;
    // }

    // &::after{
    //     content: "";
    //     width: 350px;
    //     height: 1000px;
    //     background-color: rgba(orange, 0.8);
    //     position: absolute;
    //     // top: 0;
    //     top: -200px;
    //     right: 200px;
    //     transform: rotate(45deg);
    //     z-index: -1;
    // }

    .banner-text{
        font-size: 3rem;
        text-align: center;
        line-height: 0.8;
        letter-spacing: 5px;
        color: orange;
        -webkit-text-stroke: 1px rgba(black, 0.5);
        margin: 9.5rem auto 0;
        padding: 1rem 1.5rem;
        background-color: black;
        width: fit-content;
    
        // background: url('../../assets/images/liberty-falls.webp');
        // background-clip: text;
    }
}

.game-titles{
    // outline: 2px solid red;
    width: min(90%, 1000px);
    height: auto;   
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "latest-game latest-game previous-games";
    gap: 1rem;
    // outline: 2px solid green;

    @include r.tablet{
        // height: 100%;
        display: block;
        margin-top: 5rem;
    }

    .latest-game,
    .previous-game{
        border: solid 1px rgba(orange, 0.5);
        border-radius: 8px;
    }

    //The big tile on the left
    .latest-game{
        height: 500px;
        background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.8)
                ),
                url("../../assets/images/warframe.webp");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        // border-radius: 8px;
        // outline: 2px solid red;
        grid-area: latest-game;
        
        @include r.tablet{
            height: 400px;
            margin-bottom: 1rem;
        }

        @include r.mobile{
            height: 300px;
            font-size: 2rem;
        }
        
        .game-title{
            color: white;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 0.5ch;
            // background-color: bisque;

            @include r.mobile{
                font-size: 2rem;
            }
            
        }
    }

    //The smaller tiles
    .previous-games{

        // outline: 2px solid white;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-area: previous-games;
        gap: 1rem;

        // @include r.tablet{
        //     margin-bottom: 5rem;
        // }

        .previous-game{
            display: grid;
            place-items: center;
            // outline: 2px solid orange;
            text-decoration: none;
            font-size: 1.5rem;
            color: white;
            height: 100%;
            // border-radius: 8px;

            @include r.tablet{
                height: 100px;
            }
            
        }

        #bo6{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.9)
                ),
                url("../../assets/images/blackops6.webp");
            background-position: center;
            background-size: cover;
        }

        #terminus{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        #citadelle-des-morts{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.9)
                ),
                url("../../assets/images/citadelle.webp");
            background-position: center;
            background-size: cover;
        }
    }
}