---
layout: bo6base.njk 
title: 115base | BO6 Zombies Medals
pageClass: lego
---

<div class="container">

  <h1 class="page-content_title center-text">Zombie Medals</h1>
  
  <div class="game-blocks center-text">

    {# Create an array of creators #}
    {% set medals = [] %}

    {% for medal in collections.bo6ZombieMedals %}
        {# Check if the creator is not already in the array #}
        {% if medals.indexOf(medal.data.medalCategory) == -1 %}
            {# If the above condition is true, add the creator to the array #}
            {% set addMedals = medals.push(medal.data.medalCategory) %}
        {% endif %}
    {% endfor %}

    {# Loop through the creators array to add them to the page #}
    {% for medal in medals %}
      <a class="block-link" href="medals/bo6medals/bo6zombies/{{ medal | kebab }}">
          <div class="game-block" id="{{ medal | kebab }}-builds">
              <p class="block-title">{{ medal }}</p>
          </div>
      </a>
    {% endfor %}
  
  </div>

</div>