---
layout: bo6base.njk 
title: 115base | BO6
pageClass: black-ops-6-home
---

<body class="bo6maps">

  <div class="container">
  
    <div class="banner">
  
      <div class="banner-title">Black Ops 6</div>
  
      <h1 class="page-content_title center-text">Select a Map</h1>
  
      <div class="game-blocks center-text">
  
        {% for map in collections.mainEggs %}
  
          <a class="block-link" href="{{ map.url }}">
            <div class="game-block" id="{{ map.data.title | kebab }}">
              <p class="block-title">{{ map.data.title }}</p>
            </div>
          </a>
  
        {% endfor %}
  
      </div>
  
    </div>

  </div>
  
</body>