---
layout: bo6base.njk 
title: 115base | BO6 Zombies Medals
pageClass: lego
---

<div class="container">

  <h1 class="page-content_title center-text">Zombie Medals</h1>
  
  <div class="game-blocks center-text">

    <div class="medals">

      <p class="medals-group_title">Streaks</p>

      <div class="medals-group">

        <div class="medal">
          <p class="medal-name">Jackrabbit</p>
          <p class="medal-desc">Killed 15 Zombies in a row without taking damage</p>
        </div>
        
        <div class="medal">
          <p class="medal-name">Nimble</p>
          <p class="medal-desc">Killed 30 Zombies in a row without taking damage</p>
        </div>
        <div class="medal">
          <p class="medal-name">Elusive</p>
          <p class="medal-desc">Killed 50 Zombies in a row without taking damage</p>
        </div>
        <div class="medal">
          <p class="medal-name">Intangible</p>
          <p class="medal-desc">Killed 75 Zombies in a row without taking damage</p>
        </div>
        <div class="medal">
          <p class="medal-name">Escape Artist</p>
          <p class="medal-desc">Killed 100 Zombies in a row without taking damage</p>
        </div>
        <div class="medal">
          <p class="medal-name">Invincible</p>
          <p class="medal-desc">Killed 200 Zombies in a row without taking damage</p>
        </div>

      </div>

    </div>
  
  </div>

</div>