---
title: Weapon Builds
layout: bo6base.njk
pageClass: weapon-builds
---

<div class="container">
    
    <h1 class="page-content_title center-text">Weapon Encyclopedia</h1>

        {# --------------------------------------------------- #}

        <h1 class="page-content_subtitle center-text">Weapon Information</h1>

        <div class="game-blocks center-text">

            {# Create an array of weaponStatClasses #}
            {% set weaponStatClasses = [] %}

            {% for build in collections.weaponStats %}
                {# Check if the build is not already in the array #}
                {% if weaponStatClasses.indexOf(build.data.weaponSetClass) == -1 %}
                    {# If the above condition is true, add the creator to the array #}
                    {% set addWeaponStatClasses = weaponStatClasses.push(build.data.weaponSetClass) %}
                {% endif %}
            {% endfor %}

            {# Loop through the creators array to add them to the page #}
            {% for weaponSet in weaponStatClasses %}
            <a class="block-link" href="weapon-sets/{{ weaponSet | kebab }}">
                <div class="game-block" id="{{ weaponSet | kebab }}-stats">
                    <p class="block-title">{{ weaponSet }}</p>
                </div>
            </a>
            {% endfor %}

        </div>

        <hr class="mb">

        {# --------------------------------------------------- #}

        <h1 class="page-content_subtitle center-text">My Weapon Builds</h1>

        <div class="game-blocks center-text">

            {# Create an array of creators #}
            {% set weaponClasses = [] %}

            {% for build in collections.publicBuilds %}
                {# Check if the build is not already in the array #}
                {% if weaponClasses.indexOf(build.data.person) == -1 %}
                    {# If the above condition is true, add the creator to the array #}
                    {% set addWeapon = weaponClasses.push(build.data.person) %}
                {% endif %}
            {% endfor %}

            {# Loop through the creators array to add them to the page #}
            {% for weapon in weaponClasses %}
            <a class="block-link" href="weapon-builds/{{ weapon | kebab }}">
                <div class="game-block" id="{{ weapon | kebab }}-builds">
                    <p class="block-title">{{ weapon }}</p>
                </div>
            </a>
            {% endfor %}

        </div>

        <hr class="mb">

        {# --------------------------------------------------- #}

        {# --------------------------------------------------- #}

        <h2 class="page-content_subtitle center-text">Creator Builds</h2>

        <div class="game-blocks center-text">

            {# Create an array of creators #}
            {% set creators = [] %}

            {% for build in collections.creatorBuilds %}
                {# Check if the creator is not already in the array #}
                {% if creators.indexOf(build.data.creator) == -1 %}
                    {# If the above condition is true, add the creator to the array #}
                    {% set addCreator = creators.push(build.data.creator) %}
                {% endif %}
            {% endfor %}

            {# Loop through the creators array to add them to the page #}
            {# This array will look like ['Milo', 'Dalek', 'Pizza'] for example #}
            {% for creator in creators %}
            <a class="block-link" href="creator-builds/{{ creator | kebab }}">
                <div class="game-block" id="{{ creator | kebab }}-builds">
                    <p class="block-title">{{ creator }}</p>
                </div>
            </a>
            {% endfor %}

        </div>


</div>