---
layout: base.njk 
title: 115base | Home
pageClass: main-home
---

<div class="container">

  {# <h1 class="page-content_title center-text">Select a Game</h1> #}
  {# <div class="banner2"></div> #}
  <div class="page-banner">
    <h1 class="banner-text">Your <br> Gaming Guide</h1>
  </div>

  <div class="game-titles">

    <a class="latest-game" {% if page.fileSlug === '/bo6maps/' %}aria-current="page"{% endif %} href="/bo6maps/"><p class="game-title">Black Ops 6</p></a> 

    {# These links will eventually change to the previous games as I add more games on to it #}
    <div class="previous-games">
      <a class="previous-game" id="citadelle-des-morts" {% if page.fileSlug === '/main-eggs/citadelle-des-morts/' %}aria-current="page"{% endif %} href="/main-eggs/citadelle-des-morts/"><p class="previous-game-title">Citadelle Des Morts</p></a>
      <a class="previous-game" id="terminus" {% if page.fileSlug === '/main-eggs/liberty-falls/' %}aria-current="page"{% endif %} href="/main-eggs/liberty-falls/"><p class="previous-game-title">Terminus</p></a>
      <a class="previous-game" id="liberty-falls" {% if page.fileSlug === '/main-eggs/terminus/' %}aria-current="page"{% endif %} href="/main-eggs/terminus/"><p class="previous-game-title">Liberty Falls</p></a>
    </div>

  </div>

</div>

{# <img src="./assets/images/terminus.webp" alt="Image of Black Ops 6"> #}