---
layout: base.njk 
title: 115base | Home
pageClass: main-home
---

<div class="container">

  {# <h1 class="page-content_title center-text">Select a Game</h1> #}

  <div class="game-titles">

    <a class="latest-game" {% if page.fileSlug === '/bo6home/' %}aria-current="page"{% endif %} href="/bo6home/"><p class="game-title">Black Ops 6</p></a> 

    {# These links will eventually change to the previous games as I add more games on to it #}
    <div class="previous-games">
      <a class="previous-game" id="ar-stats" {% if page.fileSlug === '/bo6weapons/weapon-sets/ar/' %}aria-current="page"{% endif %} href="/bo6weapons/weapon-sets/ar/"><p class="previous-game-title">AR Weapon Sets</p></a>
      <a class="previous-game" {% if page.fileSlug === '/bo6weapons/weapon-builds/ant/' %}aria-current="page"{% endif %} href="/bo6weapons/weapon-builds/ant/"><p class="previous-game-title">Ant's Builds</p></a>
      <a class="previous-game" id="dalek-builds" {% if page.fileSlug === '/bo6weapons/creator-builds/dalek/' %}aria-current="page"{% endif %} href="/bo6weapons/creator-builds/dalek/"><p class="previous-game-title">Dalek's Builds</p></a>
    </div>

  </div>

</div>

{# <img src="./assets/images/terminus.webp" alt="Image of Black Ops 6"> #}