---
title: Weapon Builds
layout: base.njk
pageClass: weapon-builds
---

<div class="container">
    
<h1 class="page-content_title center-text">{{ title }}</h1>
    
    
     <div class="game-blocks center-text">

        {# Create an array of creators #}
        {% set weaponClasses = [] %}

        {% for build in collections.antBuilds %}
            {# Check if the build is not already in the array #}
            {% if weaponClasses.indexOf(build.data.weaponClass) == -1 %}
                {# If the above condition is true, add the creator to the array #}
                {% set addWeapon = weaponClasses.push(build.data.weaponClass) %}
            {% endif %}
        {% endfor %}

        {# Loop through the creators array to add them to the page #}
        {# This array will look like ['AR', 'Pistol', 'SMG'] for example #}
        {% for weapon in weaponClasses %}
        <a class="block-link" href="weapon-builds/{{ weapon | kebab }}">
            <div class="game-block" id="{{ weapon | kebab }}-builds">
                <p class="block-title">{{ weapon }}</p>
            </div>
        </a>
        {% endfor %}

    </div>

    {# --------------------------------------------------- #}


    <h2 class="page-content_title center-text">Creator builds</h2>

    <div class="game-blocks center-text">

        {# Create an array of creators #}
        {% set creators = [] %}

        {% for build in collections.creatorBuilds %}
            {# Check if the creator is not already in the array #}
            {% if creators.indexOf(build.data.creator) == -1 %}
                {# If the above condition is true, add the creator to the array #}
                {% set addCreator = creators.push(build.data.creator) %}
            {% endif %}
        {% endfor %}

        {# Loop through the creators array to add them to the page #}
        {# This array will look like ['Milo', 'Dalek', 'Pizza'] for example #}
        {% for creator in creators %}
        <a class="block-link" href="creator-builds/{{ creator | kebab }}">
            <div class="game-block" id="{{ creator | kebab }}-builds">
                <p class="block-title">{{ creator }}</p>
            </div>
        </a>
        {% endfor %}

    </div>


</div>