---
title: Weapon Builds
layout: base.njk
pageClass: weapon-builds
---

<div class="container">
    
    <h1 class="page-content_title center-text">Weapons Type Builds</h1>
    
    <div class="game-blocks center-text">

        {% for build in collections.youtubeBuilds %} 
        
            <a class="block-link" href="{{ build.url }}">
            <div class="game-block" id="{{ build.data.title | kebab }}">
                <p class="block-title">{{ build.data.title }}</p>
            </div>
            </a>
        
        {% endfor %}

        {% for type in collections.weaponTypes %} 
        
            <a class="block-link" href="{{ type.url }}">
            <div class="game-block" id="{{ type.data.title | kebab }}">
                <p class="block-title">{{ type.data.title }}</p>
            </div>
            </a>
        
        {% endfor %}

    </div>

</div>