
<div class="terminus-calculator" id='terminus-calculator'>
    <div class="options-group">
        <div class="option-group">
            <span>X:</span>
            <div class="image-selector" id="x-selector">
                <div class="image-container">
                    <input type="radio" id="x1" name="x" value="00">
                    <label for="x1">
                        <div class="box">
                            <img src="/assets/images/terminus/00.svg" alt="">
                        </div>
                    </label>
                </div>
                
                <div class="image-container">
                    <input type="radio" id="x2" name="x" value="11">
                    <label for="x2">
                        <div class="box">
                            <img src="/assets/images/terminus/11.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="x3" name="x" value="10">
                    <label for="x3">
                        <div class="box">
                            <img src="/assets/images/terminus/10.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="x4" name="x" value="22">
                    <label for="x4">
                        <div class="box">
                            <img src="/assets/images/terminus/22.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="x5" name="x" value="21">
                    <label for="x5">
                        <div class="box">
                            <img src="/assets/images/terminus/21.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="x6" name="x" value="20">
                    <label for="x6">
                        <div class="box">
                            <img src="/assets/images/terminus/20.svg" alt="">
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="option-group">
            <span>Y: </span>
            <div class="image-selector" id="y-selector">
                <div class="image-container">
                    <input type="radio" id="y1" name="y" value="00">
                    <label for="y1">
                        <div class="box">
                            <img src="/assets/images/terminus/00.svg" alt="">
                        </div>
                    </label>
                </div>
                
                <div class="image-container">
                    <input type="radio" id="y2" name="y" value="11">
                    <label for="y2">
                        <div class="box">
                            <img src="/assets/images/terminus/11.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="y3" name="y" value="10">
                    <label for="y3">
                        <div class="box">
                            <img src="/assets/images/terminus/10.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="y4" name="y" value="22">
                    <label for="y4">
                        <div class="box">
                            <img src="/assets/images/terminus/22.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="y5" name="y" value="21">
                    <label for="y5">
                        <div class="box">
                            <img src="/assets/images/terminus/21.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="y6" name="y" value="20">
                    <label for="y6">
                        <div class="box">
                            <img src="/assets/images/terminus/20.svg" alt="">
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="option-group">
            <span>Z:</span>
            <div class="image-selector" id="z-selector">
                <div class="image-container">
                    <input type="radio" id="z1" name="z" value="00">
                    <label for="z1">
                        <div class="box">
                            <img src="/assets/images/terminus/00.svg" alt="">
                        </div>
                    </label>
                </div>
                
                <div class="image-container">
                    <input type="radio" id="z2" name="z" value="11">
                    <label for="z2">
                        <div class="box">
                            <img src="/assets/images/terminus/11.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="z3" name="z" value="10">
                    <label for="z3">
                        <div class="box">
                            <img src="/assets/images/terminus/10.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="z4" name="z" value="22">
                    <label for="z4">
                        <div class="box">
                            <img src="/assets/images/terminus/22.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="z5" name="z" value="21">
                    <label for="z5">
                        <div class="box">
                            <img src="/assets/images/terminus/21.svg" alt="">
                        </div>
                    </label>
                </div>

                <div class="image-container">
                    <input type="radio" id="z6" name="z" value="20">
                    <label for="z6">
                        <div class="box">
                            <img src="/assets/images/terminus/20.svg" alt="">
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <div class="answers">
        <h3>Answer:</h3>
        <div class="outputs">
            <span id="output1">--</span>
            <span id="output2">--</span>
            <span id="output3">--</span>
        </div>
    </div>
</div>