@use '../abstracts/variables' as v;

#page-warframe-locations body{
    // border: 2px solid orange;

    .wf-page-dec{
        font-size: 5rem;
    }

    @media screen and (max-width: 768px){
        .wf-page-dec{
            font-size: 4rem;
            padding-inline: 1rem;
            margin-top: 2rem;
        }
    }

    // .search-container {
    //     max-width: 600px;
    //     margin: 2rem auto;
    //     padding: 0 1rem;
    // }

    .search-input {
        display: block;
        width: min(90%, 600px);
        margin: 2rem auto;
        padding: 0.8rem 1rem;
        font-size: 1.1rem;
        border: 2px solid orange;
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(15px);
        color: white;
        outline: none;
        transition: border-color 300ms ease-in-out;

        &:focus-visible {
            border-color: v.$clr-green;
            box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}