#page-warframe-locations body{
    // border: 2px solid orange;
    text-align: center;

    .wf-page-dec{
        font-size: 5rem;

    }

    @media screen and (max-width: 768px){
        .wf-page-dec{
            font-size: 4rem;
            padding-inline: 1rem;
            margin-top: 2rem;
        }
    }
}