#page-weapon-builds{
    
    .game-block{

        // width: 300px;
        // padding: 4rem 3rem;

        // .block-title{
        //     // color: white;
        //     // font-size: 2rem;
        //     // font-weight: 700;
        //     // letter-spacing: 0.5ch;
        //     // background-color: bisque;
        // }

        &#milo-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#dalek-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#pizza-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#smg-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#ar-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/liberty-falls.webp");
            background-position: center;
            background-size: cover;
        }

        &#handgun-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/liberty-falls.webp");
            background-position: center;
            background-size: cover;
        }
        

    }
}

// #page-weapon-build{

    
// }