#page-weapon-builds{
    
    .game-block{

        // width: 300px;
        // padding: 4rem 3rem;

        // .block-title{
        //     // color: white;
        //     // font-size: 2rem;
        //     // font-weight: 700;
        //     // letter-spacing: 0.5ch;
        //     // background-color: bisque;
        // }

        &#ames-85{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/liberty-falls.webp");
            background-position: center;
            background-size: cover;
        }

        &#shotty{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#pp-919{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#rofl-waffles{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#mr-dalek-jd{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
            background-position: center;
            background-size: cover;
        }

        &#assault-rifles{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/liberty-falls.webp");
            background-position: center;
            background-size: cover;
        }
        &#smg{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/liberty-falls.webp");
            background-position: center;
            background-size: cover;
        }
        

    }
}

// #page-weapon-build{

    
// }