---
layout: bases/warframebase.njk 
title: 115base | Warframe
pageClass: warframe-home
---

<body class='warframe-home-body'>

  <div class="container">
  
    <div class="banner">
  
      {# <div class="banner-title">Warframe</div> #}
  
      <h1 class="page-content_title center-text">Warframe</h1>
  
      <div class="game-blocks center-text">

        <a class="block-link" href="/warframe/warframe-locations/">
          <div class="game-block" id="locations-block">
            <p class="block-title">Locations</p>
          </div>
        </a>

        <a class="block-link" href="/warframe/warframes-components/">
          <div class="game-block" id="locations-block">
            <p class="block-title">Warframes</p>
          </div>
        </a>
  
      </div>
  
    </div>

  </div>

</body>