---
layout: bases/warframebase.njk 
title: 115base | Warframe Locations
pageClass: warframe-locations
---

<body class='warframe-locations-body'>

	<p class='page-content_title center-text'>Where do I get that from?</p>
	<p class='page-content_subtitle center-text'>Item Locations</p>

	{# Add search input #}
	<input type="text" id="searchInput" class="search-input" placeholder="Search items...">
	{# <div class="search-container">
	</div> #}

	<div class="accordion-group">
		{# Set the letters to loop through #}
		{% set letters = "abcdefghijklmnopqrstuvwxyz" | split("") %}
		
		{% for warframeItem in collections.warframeItems %}
			{# Loop through the letters #}
			{% for letter in letters %}
				{# If the warframeItem's alphabet data (in the 11tydata.js file) matches the letter, then create the accordion item #}
				{% if warframeItem.data.alphabet == letter %}
					<div class="accordion-item" data-letter="{{ letter | upper }}">
						{# Display the letter as the accordion title #}
						<p class="accordion-title">{{ letter | upper }}</p>

						<div class="accordion-content-group">
							{# Loop through the "items" in the warframeItem frontmatter data#}
							{% for item in warframeItem.data.items %}
								<p class="accordion-content">
								<span class="ac-span-bold">{{ item.name }}</span> - {{ item.description }} - <span class="tips"><strong>TIPS: </strong>{{ item.tips }}</span>
								</p>
							{% endfor %}
						</div>

					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</body>
