@use '../abstracts/mixins' as r;

.banner{
    // outline: 2px solid red;
    // height: 300px;

    @include r.tablet{
        padding-top: 5rem;
    }
    
    // background: 
    // linear-gradient(
    //     rgba(0, 0, 0, 0.7),
    //     rgba(0, 0, 0, 0.9)
    //     ),
    //     url("../../assets/images/blackops6.webp");
    //     background-position: center;
    //     background-size: cover;
        
    .banner-title{
        font-weight: bold;
        font-size: 4rem;
        text-align: center;
    }
}