.banner{
    // outline: 2px solid red;
    // height: 300px;
    padding-block: 3rem;
    
    // background: 
    // linear-gradient(
    //     rgba(0, 0, 0, 0.7),
    //     rgba(0, 0, 0, 0.9)
    //     ),
    //     url("../../assets/images/blackops6.jpg");
    //     background-position: center;
    //     background-size: cover;
        
    .banner-title{
        font-weight: bold;
        font-size: 4rem;
        text-align: center;
    }
}