@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as v;

//background color for this header is set in the app.js file
header{
  align-items: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(3rem);
  z-index: 5;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, v.$transform-transition;
  
  
  //115base Logo
  svg{
    width: 7rem;
    fill: orange;
    display: block;
  }
  
  //The div containing the Logo and the Nav
  .logo-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;

    .nav-list{
      display: flex;
      justify-content: center;
      gap: 2rem;
      text-transform: uppercase;
      font-size: 1.3rem;
  
      @include r.mobile{
          margin-bottom: 0;
      }
  
      .nav-item{
          
        .nav-link{
          text-decoration: none;
          letter-spacing: 0.5ch;
          color: white;
          // padding: 0.4ch 0.3ch 0.4ch 0.7ch;
          border-radius: 10px;
          position: relative;
  
          &::before{
            content: "";
            width: 0;
            height: 3px;
            background-color: orange;
            position: absolute;
            bottom: -1px;
            transition: width 0.2s ease-in-out;
          }
          
          &:hover::before{
            width: calc(100% - 0.25ch);
          }
        }
      }
    }
  }
}

// Navigation under main nav
.page-nav{
  background-color: rgba(white, 0.1);
  width: 100%;
  backdrop-filter: blur(3rem);
  padding-block: 0.5rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  
  .page-nav-list{
    display: flex;
    justify-content: center;
    margin-block: 0;
    list-style: none;
    font-size: 1rem;
    gap: 3rem;
    // padding-block: 0.5rem;
    text-transform: uppercase;
    
    .page-nav-item{

      .page-nav-link{
        color: orange;
        text-decoration: none;
        letter-spacing: 0.5ch;
        padding: 0.4ch 0.3ch 0.4ch 0.7ch;
      }

    }

  }
  
}


// [aria-current="page"]{
//   text-decoration: underline;
// }

@media screen and (max-width: 768px){
  
  header{

    flex-direction: column;
    display: none;
    
    .nav-list{
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      // margin-block: 1rem;
      
      // .nav-link{
        //   background-color: red;
        // }
    }
      
    .page-nav{
      
      .nav-list{
        flex-direction: row;
        gap: 1rem;
      }
  
    }
    
  }

}