@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as v;

header{
  // background-color: orange;
  background-color: rgba(white, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(3rem);
  z-index: 5;
  // transition: transform 1ms ease-in-out;
  transition: v.$transform-transition, v.$bg-transition;

  //115base Logo
  svg{
      width: 7rem;
      fill: orange
  }

  header.scrolled{
    background-color: orange;
  }

  .nav-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      text-transform: uppercase;
      font-size: 1.3rem;

      @include r.mobile{
          margin-bottom: 0;
      }

      .nav-item{
          
          .nav-link{
              text-decoration: none;
              letter-spacing: 0.5ch;
              // color: black;
              color: white;
              // transition: all 200ms ease-in-out;
              padding: 0.4ch 0.3ch 0.4ch 0.7ch;
              border-radius: 10px;
              
              &:hover{
                // color: white;
                // background-color: #111;
                position: relative;
                top: -3px;
              }
          }

      }
  }

  // Navigation under main nav
  .page-nav{
    // background-color: orange;
    background-color: rgba(white, 0.1);
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    backdrop-filter: blur(3rem);
    transition: v.$bg-transition;
    
    .nav-list{
      margin-block: 0.5rem;
      list-style: none;
      font-size: 1rem;
      gap: 3rem;
      padding: 0;
      
      .nav-item{

        .page-nav-link{
          color: orange;
          text-decoration: none;
          letter-spacing: 0.5ch;
          padding: 0.4ch 0.3ch 0.4ch 0.7ch;
        }

      }
    }

  }

}

// [aria-current="page"]{
//   text-decoration: underline;
// }

@media screen and (max-width: 768px){
  
  header{

    flex-direction: column;
    display: none;
    
    .nav-list{
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-block: 1rem;
      
      // .nav-link{
        //   background-color: red;
        // }
      }
      
    .page-nav{
      
      .nav-list{
        flex-direction: row;
        gap: 1rem;
    }
  
    }
    
  }

}