@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as v;

//background color for this header is set in the app.js file
.main-home-header{
  padding-block: 1rem;
  display: grid;
  place-items: center;
}

header{
  position: fixed;
  width: 100%;
  backdrop-filter: blur(3rem);
  z-index: 5;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, v.$transform-transition;
  
  
  //115base Logo
  svg{
    width: 7rem;
    fill: orange;
    display: block;
  }
  
  //The div containing the Logo and the Nav
  .logo-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;

    .nav-list{
      display: flex;
      justify-content: center;
      gap: 2rem;
      text-transform: uppercase;
      font-size: 1.3rem;
  
      @include r.mobile{
          margin-bottom: 0;
      }
  
      .nav-item{
          
        .nav-link{
          text-decoration: none;
          letter-spacing: 4.5px;
          color: rgba(white, 0.8);
          border-radius: 10px;
          position: relative;
          transition: v.$color-transition;
          transform-origin: right;
  
          &::before{
            content: "";
            width: calc(100% - 2.25px);
            // width: 100%;
            height: 3px;
            background-color: orange;
            position: absolute;
            bottom: -1px;

            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.2s ease-in-out;
          }

          &:hover{
            color: white;
          }
          
          &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }
}

// Navigation under main nav
.page-nav{
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  text-align: center;
  background-color: rgba(white, 0.1);
  width: 100%;
  padding-block: 0.5rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  
  .page-nav-list{
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
    
    .page-nav-item{

      .page-nav-link{
        color: orange;
        text-decoration: none;
        letter-spacing: 0.5ch;
        padding: 0.4ch 0.3ch 0.4ch 0.7ch;
      }

    }

  }
  
}


// [aria-current="page"]{
//   text-decoration: underline;
// }

@media screen and (max-width: 768px){
  
  header{

    display: none;
    
    // .nav-list{
    //   flex-direction: column;
    //   align-items: center;
    //   gap: 1rem;
    // }
      
    // .page-nav{
      
    //   .nav-list{
    //     flex-direction: row;
    //     gap: 1rem;
    //   }
  
    // }
    
  }

}