@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as c;


.listed-item{
            
    // background-color: teal;
    // outline: 2px solid red;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    @include r.tablet{
        flex-direction: column;
        align-items: center;
        // width: 300px;
        // margin: 0 auto;
    }

    //Weapon Locations and Perk Locations Blocks
    .elements{
        background-color: rgba(white, 0.1);
        padding: 1.5rem;
        margin-top: 2rem;
        border-radius: 10px;
        height: fit-content;

        @include r.tablet{
            // width: 95%;
            // max-width: 400px;
            width: min(95%, 400px);
        }

        &.halved .items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            @include r.mobile{
                grid-template-columns: 1fr;
            }
        }
    }

    //Zombie Build, MP Build, Weapon Locations, Perk Locations
    .listed-title{
        font-size: 3rem;
        color: c.$clr-green;
        margin-bottom: 2rem;
        font-weight: bold;
        text-align: left;

        @include r.tablet{
            text-align: center;
        }
    }

    .item{
        font-size: 1.3rem;
        margin-bottom: 1rem;

        @include r.tablet{
            text-align: center;
        }

        .item-name{
            font-size: 2rem;
            color: orange;
        }
        
        .weapon-type{
            color: orange;

            @include r.mobile{
                display: inline-block;
                background-color: rgba(white, 0.1);
                padding-inline: 0.5rem;
                border-radius: 4px;
                margin-top: 0.5rem;
            }
        }
    }


    hr{
        background-image: linear-gradient(to right, rgba(orange, 0.75), rgba(orange, 0.75), rgba(0, 0, 0, 0));
        margin: 1rem 0;

        @include r.tablet{
            margin-inline: auto;
        }
    }
}

