@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as v;

.mobile{
  display: none;
  
  @include r.tablet{
    display: block;
    z-index: 2000;
    // height: auto;
  }
  
  svg{
    width: 5.5rem;
    fill: orange
  }
  
  .mobile-header{
    // background-color: rgb(14, 14, 49);
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    padding: 1.5rem 2rem;
    z-index: 1000;
    width: 100%;
    position: fixed;
    box-shadow: 0px -15px 22px 18px rgba(0,0,0,0.75);

    .hamburger svg,
    .close svg{
      width: fit-content;
    }

    .close{
      display: none;
    }
  }
  
  .mobile-nav{
    width: 350px;
    height: auto;
    padding: 1rem;
    margin-left: auto;
    transform: translateY(-100%);
    background-color: rgba(black, 0.7);
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 85px;
    right: 0;
    z-index: 500;
    // transition: v.$transform-transition;
    transition: transform 500ms cubic-bezier(.41,.86,.42,1.03);

    .mobile-nav-list{
      list-style: none;
      
      .mobile-nav-item{
        color: white;
        font-size: 2rem;
        padding-bottom: 1rem;
      }
      
      .mobile-nav-link{
        text-decoration: none;
        color: white;
        transition: v.$color-transition;

        &:hover,
        &:focus-visible{
          color: orange;
        }
      }
    }
  }

  .open{
    transform: translateY(0);
  }

  
}