@use '../abstracts/mixins' as r;

#page-weapon-builds{
    
    .game-block{

        // .block-title{
        //     // color: white;
        //     // font-size: 2rem;
        //     // font-weight: 700;
        //     // letter-spacing: 0.5ch;
        //     // background-color: bisque;
        // }
        
        &#chopper-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.9)
                ),
                url("../../assets/images/creators/chopper.webp");
        }

        &#dalek-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.9)
                ),
                url("../../assets/images/creators/dalek.webp");
        }

        &#milo-builds{
            background: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.9)
            ),
            url("../../assets/images/creators/milo.webp");
        }

        &#pizza-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
        }

        &#ar-builds,
        &#ar-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/ar.webp");
        }

        &#handgun-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/handgun.webp");
        }

        &#lmg-builds,
        &#lmg-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/lmg.webp");
        }

        &#shotgun-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/shotgun.webp");
        }

        &#smg-builds,
        &#smg-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/smg.webp");
        }

        &#chopper-builds,
        &#dalek-builds,
        &#milo-builds,
        &#pizza-builds,
        &#ar-builds,
        &#ar-stats,
        &#handgun-builds,
        &#shotgun-stats,
        &#lmg-builds,
        &#lmg-stats,
        &#smg-builds,
        &#smg-stats{
            background-position: center;
            background-size: cover;
        }

        &#ar-stats,
        &#shotgun-stats,
        &#lmg-stats,
        &#smg-stats{
            border-color: rgba(orangered, 0.5);
        }
    }
}

#page-weapon-stats{
    .listed-item{
        flex-wrap: wrap;
    }
    
    .item-name, p{
        text-align: left;

        @include r.mobile{
            text-align: center;
        }
    }

    hr{
        margin-inline: 0;
        background-image: linear-gradient(to right, rgba(orange, 0.75), rgba(orange, 0.75), transparent);

        @include r.mobile{
            margin-inline: auto;
            background-image: linear-gradient(to right, transparent, rgba(orange, 0.75), transparent);
        }
    }
}

// .weapon-item{
//     font-size: 1.3rem;
//     margin-bottom: 1rem;
    
//     // hr{
//     //     background-image: linear-gradient(to right, rgba(orange, 0.75), rgba(orange, 0.75), transparent);
//     // }

//     @include r.tablet{
//         text-align: center;
//     }

//     .item-name{
//         font-size: 2rem;
//         color: orange;
//     }
    
//     .weapon-type{
//         color: orange;

//         @include r.mobile{
//             display: inline-block;
//             background-color: rgba(white, 0.1);
//             padding-inline: 0.5rem;
//             border-radius: 4px;
//             margin-top: 0.5rem;
//         }
//     }
// }