#page-weapon-builds{
    
    .game-block{

        // .block-title{
        //     // color: white;
        //     // font-size: 2rem;
        //     // font-weight: 700;
        //     // letter-spacing: 0.5ch;
        //     // background-color: bisque;
        // }
        
        &#chopper-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.9)
                ),
                url("../../assets/images/creators/chopper.webp");
        }

        &#dalek-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.9)
                ),
                url("../../assets/images/creators/dalek.webp");
        }

        &#milo-builds{
            background: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.9)
            ),
            url("../../assets/images/creators/milo.webp");
        }

        &#pizza-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/terminus.webp");
        }

        &#ar-builds,
        &#ar-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/ar.webp");
        }

        &#handgun-builds{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/handgun.webp");
        }

        &#lmg-builds,
        &#lmg-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/lmg.webp");
        }

        &#shotgun-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/shotgun.webp");
        }

        &#smg-builds,
        &#smg-stats{
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.7)
                ),
                url("../../assets/images/weapons/smg.webp");
        }

        &#chopper-builds,
        &#dalek-builds,
        &#milo-builds,
        &#pizza-builds,
        &#ar-builds,
        &#ar-stats,
        &#handgun-builds,
        &#shotgun-stats,
        &#lmg-builds,
        &#lmg-stats,
        &#smg-builds,
        &#smg-stats{
            background-position: center;
            background-size: cover;
        }

        &#ar-stats,
        &#shotgun-stats,
        &#lmg-stats,
        &#smg-stats{
            border-color: rgba(orangered, 0.5);
        }
    }
}

// #page-weapon-build{

    
// }