@use '../abstracts/variables' as v;

.ac-span-bold {
  font-weight: bold;
}

.accordion-group {
    // border: 2px solid red;
    width: min(95%, 1000px);
    margin-inline: auto;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .accordion-item {
        // border: 2px solid blue;
        border-left: 5px solid orange;
        &:nth-of-type(2n) {
            border-left: 5px solid v.$clr-green;
        }
        background-color: white;
        // margin-bottom: 1rem;
        padding-inline: 1.7rem 0.5rem;
        overflow: hidden;
        text-align: left;
        border-radius: 0.25em 0 0 0.25rem;
        color: black;
        position: relative;

        &::before{
            content: '+';
            // border: 2px solid green;
            transform: scale(2.1);
            position: absolute;
            top: 0.6rem;
            left: 0.78rem;
        }

        .accordion-title {
            // border: 2px solid green;
            // padding-inline: 0.5rem;
            background-color: rgba(255, 255, 255, 0.4);
            font-size: 2rem;
            // border-radius: 0.25rem;
        }
        
        .accordion-content-group {
            // border: 2px solid gold;
            padding-block: 0.5rem;
            display: none;
            // background-color: rgba(255, 255, 255, 0.2);
            background-color: white;
            backdrop-filter: blur(1rem);
            // border-radius: 0 0 0.5rem 0.5rem;

            .accordion-content {
                font-size: 1.2rem;
                color: black;
                width: fit-content;
                // background-color: rgba(0, 0, 0, 0.4);
                // padding-inline: 0.5rem;
                border-radius: 0.25rem;
    
                &:not(:last-of-type) {
                    margin-bottom: 0.5rem;
                }
            }
        }

    }
}

.accordion-item .accordion-content-group.active-accordion {
    display: block;
}

.accordion-item.rotate-symbol::before {
    transform: scale(2.5) rotate(45deg);
}

@media screen and (max-width: 768px){
  
    .accordion-group{
        grid-template-columns: 1fr;
    }
  
  }