@use '../abstracts/variables' as *;

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: $ff-body;
  font-size: $fs-6;
  // background-color: rgb(14, 14, 28);
  background: radial-gradient(circle, rgba(7,7,31,1) 0%, rgba(4,4,15,1) 50%, rgba(6,6,21,1) 100%);
  // width: 95%;
  // max-width: 1400px;
  margin: 0 auto;
  color: white;
}
