@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as c;

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: $ff-body;
  font-size: $fs-6;
  margin: 0 auto;
  color: white;
  
  // background: radial-gradient(at center top, #0A0A2D, #07071B);
  // background-attachment: fixed;

  // &::before{
  //   content: "";
  //   background: 
  //     linear-gradient(
  //       rgba(0, 0, 0, 0.7),
  //       rgba(0, 0, 0, 0.9)
  //       ),
  //       url("../../assets/images/blackops6.webp");
  //   background-size: cover;
  //   background-position: center;
  //   position: fixed;  /* This will remain fixed */
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;  /* Place behind other content */
  // }

}

//The main homepage
#page-main-home body{
  
  // background: radial-gradient(at center top, #0A0A2D, #07071B);
  // background: radial-gradient(at center top, #000000, #000000);
  // background-attachment: fixed;
  // background-image: none;

  &::before{
    content: "";
    background: black;
    background-size: cover;
    background-position: center;
    position: fixed;  /* This will remain fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Place behind other content */
  }
}

#page-bo6maps body{
  background-image: none;

  &::before{
    content: "";
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
        ),
        url("../../assets/images/blackops6.webp");
    background-size: cover;
    background-position: center;
    position: fixed;  /* This will remain fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Place behind other content */
  }
}

//Liberty Falls, Terminus, The Tomb and Shattered Veil Pages
#page-egg-steps body{
  background-image: none;

  &::before{
    content: "";
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
        ),
        url("../../assets/images/blackops6zombies.webp");
    background-size: cover;
    background-position: center;
    position: fixed;  /* This will remain fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Place behind other content */
  }
}

// Black Ops 6 Medals page
#page-medals body::before{
  content: "";
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
      ),
      url("../../assets/images/blackops6medals.webp");
  background-size: cover;
  background-position: center;
  position: fixed;  /* This will remain fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Place behind other content */
}

.page-content {
  // background-color: red;
  padding: 9rem 2rem 2rem;
  // height: 100vh;
  
  @include r.tablet {
    padding: 5rem .5rem .5rem;
  }
}

#page-main-home .page-content{
  padding: 0 2rem 5rem;
}

.page-content_title,
.page-content_subtitle{
  letter-spacing: 0.1ch;
}

.page-content_title{
  font-size: 4rem;
  color: orange;
  margin: 2rem 0 2rem;
}

.page-content_subtitle{
  font-size: 3rem;
  color: c.$clr-green;
  margin-block: 3rem 1rem;
}

.page-content_subinfo{
  font-size: 2rem;
  color: white;
  margin-block: 2rem 1rem;
}

// .wf-page-dec{
//   font-size: 5rem;
// }
// ---------------------------------------------------------------------------

#page-warframe-home body,
#page-warframe-locations body,
#page-warframes-components body{

  &::before{
    content: "";
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
        ),
        url("../../assets/images/warframe.webp");
    background-size: cover;
    background-position: center;
    position: fixed;  /* This will remain fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Place behind other content */
  }
}