@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as r;
@use '../abstracts/variables' as c;

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: $ff-body;
  font-size: $fs-6;
  // background: radial-gradient(at center top, #0A0A2D, #07071B);
  // background-attachment: fixed;

  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
    ),
    url("../../assets/images/blackops6.jpg");
  background-position: center;
  background-size: cover;

  margin: 0 auto;
  color: white;
}

// .bo6home
#page-main-home body{
  
  background: radial-gradient(at center top, #0A0A2D, #07071B);
  background-attachment: fixed;
}

//Liberty Falls and Terminus Pages
#page-egg-steps body::before{
  content: "";
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
      ),
      url("../../assets/images/blackops6zombies.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;  /* This will remain fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Place behind other content */
}

#page-medals body::before{
  content: "";
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
      ),
      url("../../assets/images/blackops6medals.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;  /* This will remain fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Place behind other content */
}

.page-content {
  // // background-color: red;
  padding: 9rem 2rem 2rem;
  
  @include r.tablet {
    padding: 5rem .5rem .5rem;
  }

//   background: 
//     linear-gradient(
//         rgba(0, 0, 0, 0.7),
//         rgba(0, 0, 0, 0.9)
//         ),
//         url("../../assets/images/blackops6.jpg");
//         background-position: center;
//         background-size: cover;
}

.page-content_title,
.page-content_subtitle{
  letter-spacing: 0.1ch;
}

.page-content_title{
  font-size: 4rem;
  color: orange;
  margin: 2rem 0 2rem;
}

.page-content_subtitle{
  font-size: 3rem;
  color: c.$clr-green;
  margin-block: 3rem 1rem;
}