@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as r;

/* typgraphy */

// h1,
// h2,
// h3,
// h4, 
// h5 {
//   font-family: $ff-heading;
//   font-weight: $fw-400;
// }

// p {
//   font-weight: $fw-400;
//   font-size: 1.3rem;
// }

// strong {
//   font-weight: $fw-700;
// }

.page-title{
    font-size: 4rem;
    letter-spacing: 0.1ch;
    margin-block: 3rem 1rem;
    color: orange;
    
    @include r.tablet{
        text-align: center;
    }
}

.subtitle{
    color: rgb(66, 181, 4);
}