---
title: Medals
layout: bo6base.njk
pageClass: medals
---

<div class="container">
    <h1 class="page-content_title center-text">Medals</h1>

    <div class="game-blocks center-text">
        <a class="block-link" href="black-ops-6/">
            <div class="game-block" id="black-ops-6-medals">
                <p class="block-title">Black Ops 6</p>
            </div>
        </a>
    </div>
</div>