---
layout: base.njk
pageClass: egg-steps
---

<h1 class="page-title">{{ title }} Easter Egg</h1>

<div class="egg-notes">
    <span class="mintex">X</span>
    <textarea class="notes-area" name="" id="" cols="30" rows="10" placeholder="Notes for your egg run..."></textarea>
</div>

<div class="egg-steps">
    {{ content | safe }}
</div>