---
layout: base.njk
pageClass: egg-steps
---

<h1 class="page-title">{{ title }} Easter Egg</h1>

<textarea name="" id="" cols="30" rows="10" placeholder="Notes for your egg run..."></textarea>

<div class="egg-steps">
    {{ content | safe }}
</div>