---
layout: base.njk
pageClass: egg-steps
---




<div class="guide-bodies">

    
    <div class="egg">
    
        <h1 class="page-title">{{ title }} Easter Egg</h1>

        <div class="egg-notes">
            <textarea class="notes-area" name="" id="" cols="30" rows="10" placeholder="Notes for your egg run..."></textarea>
        </div>

        <div class="egg-steps">
            {{ content | safe }}
        </div>

    </div>

    <div class="weapon-location">
        <p class="weapons-title">Weapon <br> Locations</p>
        <div class="weapon">
            <p class="weapon-name" >GS45</p>
            <p>Holding Cells</p>
            <hr>
        </div>
        <div class="weapon">
            <p class="weapon-name" >Tanto .22</p>
            <p>Interrogation Rooms</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >ASG-89</p>
            <p>Control Center</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >C9</p>
            <p>Commmunications</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >Marine SP</p>
            <p>Rec Yard</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >Goblin MK2</p>
            <p>Gun Platform</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >PP-919</p>
            <p>Sea Tower</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >AS Val</p>
            <p>Sea Caves</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >XM-4</p>
            <p>Bio Lab</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >AK-74</p>
            <p>Mining Tunnels</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >SVD</p>
            <p>Shipwreck</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >Tsarkov 7.62</p>
            <p>Crab Island</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >PU-21</p>
            <p>Temple Island</p>
        </div>
        <div class="weapon">
            <p class="weapon-name" >XMG</p>
            <p>Castle Rock Island</p>
        </div>

    </div>

</div>