---
layout: bo6base.njk
title: Creator Builds
pageClass: weapon-build
---

<div class="container small mob-center">

    <h1 class="page-content_title center-text">{{ title }}</h1>
    
    <div class="medals-group">
        {% for medal in collections.bo6ZombieMedals %}

            {% if (build.data.medalCat | kebab) === page.fileSlug %}

                

            {% endif %}
            
        {% endfor %}
    </div>

</div>