---
layout: bo6base.njk
title: Medals
pageClass: weapon-build
---

<div class="container small mob-center">

    <h1 class="page-content_title center-text">{{ title }}</h1>
    
    <div class="medals">
        <div class="medals-group">
            {% for medal in collections.bo6ZombieMedals %}
                {% if (medal.data.medalCategory | kebab) === page.fileSlug %}
                    {% for meds in medal.data.medals %}
                    <div class="medal">
                        <p class="medal-name">{{ meds.name }}</p>
                        <p class="medal-desc">{{ meds.description }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>